body{
  background-image: url(bokeh-background-1.jpg);
  font-family:sans-serif;
}
label{
  width: 150px;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  color: black;
}
h1{
  text-align: center;
  font-family: inherit;
  color: rgb(245, 245, 245);
}
/* input box design */
.inputbox{
  width: 40%;
  font-family: sans-serif;
  border-style: solid;
  border-width: 0.5px;
  padding: 5px;
  color: black;
  border-radius: 2px;
}
/* highlight input box when selected */
.inputbox:focus{
  background-color: #cdebf9;
}
/* container design */
.container{
  background-color: rgba(245, 245, 245, 0.7);
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  box-shadow:0px 5px 20px 3px #999;
}
/* design */
form{
  padding: 5%;
  padding-top: 2%;
}
